:root {
    --base: #1e1e2e;
    --text: #cdd6f4;
    --blue: #89b4fa;
    --sky:  #89dceb;
}

body {
    background-color: var(--base); /* Background color */
    color: var(--text); /* Text color */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--text); /* Header text color */
}

.main-heading {
    border: 1px red;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end);
}

.main-heading::after {
    content: '█';
    animation: blink-caret 2s ease-in-out infinite
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { opacity: 0% }
    50% { opacity: 100% }
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: var(--blue); /* Link color */
    font-size: 18px;
    transition: 0.3s;
}

a:hover {
    color: var(--sky); /* Link color on hover */
}

